main {
  // 1E2124
  // 2C2F33
  // 23272a
  overflow:hidden;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: white;
  
  .sidebar {
    width: 60px;
    background-color: #1e2124;
    position: fixed;
    ul{
      list-style-type: none;
      padding: 0 0;
      height: 100vh;
      li {
        margin: 10px 10px;
        padding: 10px 10px;
        cursor: pointer;
        background-color: #2C2F33;
        color: white;
        border-radius: 5px;
        text-align: center;
      }
      li:hover {
        background-color: #57F287;
      }
    }
  }
  .main {
    background-color: #23272a;
    margin: auto;
    padding-left: 60px;
    display: flex;
    height: 100vh;
    .channel {
      padding: 20px 20px;
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        padding-top: 10px;
      }
    }
    .main-channel {
      flex-grow: 1;

      nav {
        position: fixed;
        background-color: #2C2F33;
        box-shadow: 0px 1px 2px black;
        height: 50px;
        width: 100%;
      }
    
      .flex-main-channel {
        padding-top: 50px;
        display: flex;
        height: calc(100vh - 50px);
        nav {
          
        }
        .main-box {
          flex-grow: 1;
          background-color: #2C2F33;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .msg-box {
            color: white;
          }
          .msg-inp{
            display: flex;
            bottom: 10px;
            align-items: flex-end;
            .msg {
              margin-bottom: 15px;
              border-width: 0;
              border-radius: 3px;
            }
          
            input {
              flex-grow: 1;
              height: 25px;
            }
  
            button {
              height: 27px;
            }
          }
        }
        .acc {
          background-color: #23272a;
          margin: 0;
          ul {
            background-color: green;
            inline-size: 50%;
            overflow-wrap: break-word;
            list-style-type: none;
            margin: 0 auto;
          }
        }
      } 
    }
  }
}