html {
    overflow-x: hidden;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
}

h1 {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 80px;
}

h2 {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 40px;
}

h3 {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 20px;
}

// section {
//     display: flex;
//     flex-direction: row;
// }

@import "intro";
@import "info";
@import "projects";
@import "playground";